<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Lara Altamirano Maia Daiana</title>
</head>
<body>
<header>
<h1>
PROGRAMACIÓN EN JAVA
</h1>
<nav>
    <ul>
      <li><a href="#">Introducción</a></li>
      <li><a href="#">Tipos de estructura de control</a></li>
      <li><a href="#">Metodos</a></li>
      <li><a href="#">Colecciones de java</a></li>
    </ul>
</nav>
</header>
<main>
	<section>
		<h2>Introducción</h2>
		
		<h3>¿Qué es la programación en java?</h3>
		
		<p>La programación en Java es el proceso de crear software utilizando 
		el lenguaje de programación Java, conocido por su portabilidad y versatilidad.</p>
		
		<table>
        <tr>
            <th>Aspecto</th>
            <th>Descripcion</th>
        </tr>
        <tr>
            <td>Fuertemente tipado</td>
            <td>Cada variable debe tener un tipo de datos declarado.</td>
        </tr>
        <tr>
            <td>Orientación a Objetos</td>
            <td>Todo en Java es un objeto con propiedades y métodos.</td>
        </tr>
        <tr>
            <td>Portabilidad</td>
            <td>Permite que el código Java se ejecute en diferentes plataformas sin cambios.</td>
        </tr>
    </table>
	</section>
		<h3>Tipos de estructura de control</h3>
		<h2>Estructuras</h2>
		<ul>
			<li>if: La estructura if permite ejecutar un bloque de código si se cumple una condición especificada. Puede estar seguido opcionalmente por uno o más bloques else if y un bloque else.</li>
	        <li>switch: La estructura switch permite seleccionar una de varias opciones basadas en el valor de una expresión.</li>
	        <li>while: La estructura while ejecuta un bloque de código mientras una condición especificada sea verdadera.</li>
	        <li>for: La estructura for es una forma más compacta de escribir bucles cuando se conoce el número de iteraciones.</li>
	        <li>do-while: Similar a while, pero garantiza que el bloque de código se ejecute al menos una vez antes de verificar la condición.</li>
		</ul>
	<section>
	    <h2>Métodos</h2>
		<h3>¿Qué son los métodos en java?</h3>
		<p> Los métodos en Java son bloques de código que realizan tareas específicas y pueden ser invocados 
		desde otras partes del programa. Se definen dentro de una clase y representan comportamientos o 
		acciones que los objetos de esa clase pueden realizar. Los métodos permiten modularizar el código y 
		reutilizar la lógica en diferentes partes del programa.</p>
	</section>
	<section>
		<h2>Las colecciones de Java</h2>
		<p> Las colecciones en Java son estructuras de datos que permiten almacenar y manipular conjuntos de elementos de manera dinámica. Estas colecciones
		 proporcionan una serie de interfaces y clases que facilitan la manipulación de datos de manera eficiente. Algunas de las colecciones más comunes en 
		 Java se encuentran en el paquete java.util.</p>
		</section>
	
</main>

<aside>
      <a href= "https://es.wikipedia.org/wiki/Java_(lenguaje_de_programaci%C3%B3n)" target="_blank">  Más información 
</aside>
<footer>
	 <h2>Contacto</h2>
     <p>Correo Electrónico:laraltamirano28@gmail.com</p>
     <p>Síguenos en redes sociales:</p>
     <a href="https://github.com/Larita1">Github</a>
</footer>
</body>
</html>